
	<div>
	<%= form.label :consume_date, "日期"%>
	<%= form.text_field :consume_date %>
	</div>

	<div>
	<%= form.label :description, "描述"%>
	<%= form.text_area :description %>
	</div>

	<div>
	<%= form.label :main_class_id, "主項目"%>
	<%= form.text_field :main_class_id %>
	</div>

	<div>
	<%= form.label :subclass_id, "副項目"%>
	<%= form.text_field :subclass_id %>
	</div>

	<div>
	<%= form.label :third_class_id, "其他項目"%>
	<%= form.text_field :third_class_id %>
	</div>

	<div>
	<%= form.label :consume_way_id, "消費方式"%>
	<%= form.text_field :consume_way_id %>
	</div>

	<div>
	<%= form.label :note, "備註"%>
	<%= form.text_area :note %>
	</div>
	
