
	<div>
	<%= form.label :consume_date, "日期"%>
	<%= form.text_field :consume_date %>
	</div>

	<div>
	<%= form.label :description, "描述"%>
	<%= form.text_area :description %>
	</div>

	<div>
	<%= form.label :main_type_id, "主項目"%>
	<%= form.text_field :main_type_id %>
	</div>

	<div>
	<%= form.label :sub_type_id, "副項目"%>
	<%= form.text_field :sub_type_id %>
	</div>

	<div>
	<%= form.label :consume_way_id, "消費方式"%>
	<%= form.text_field :consume_way_id %>
	</div>

	<div>
	<%= form.label :consume_way_id, "備註"%>
	<%= form.text_area :consume_way_id %>
	</div>
	
